<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MetaWear.CSharp" version="1.1.0" targetFramework="net461" />
  <package id="MetaWear.CSharp.NetStandard" version="1.0.5" targetFramework="net461" />
  <package id="protobuf-net" version="2.3.1" targetFramework="net461" />
  <package id="TNT" version="2.0.2" targetFramework="net461" />
  <package id="Warble.Net" version="1.1.1" targetFramework="net461" />
</packages>